:root {
  --background-color: rgb(220, 220, 220);
  --border-color: lightgray;
}

:root[color-scheme="dark"] {
  --background-color: rgb(34, 37, 43);
  --border-color: rgba(204, 204, 220, 0.07);
}

.nl-row {
  display: flex;
  column-gap: 40px;
  width: min(100%, 991px);
  margin: 10px auto;
}

.nl-full-row {
  width: min(100%, 991px);
  margin: 10px auto;
}

.nl-column {
  flex: 1;
  margin-top: 0px !important;
}

.nl-download * {
  margin: 0 !important;
}

.nl-card {
  color: rgb(36, 41, 46) !important;
}

/* Header styles */
.nl-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(100%, 768px);
  margin: auto;
  padding: 5px 10px;
  gap: 2em;
  text-align: center;
  border-radius: 20px;
  background: rgb(220, 220, 220);
  border: 1px solid lightgray;
}

.nl-header h1,
.nl-header h2 {
  margin: 5px 10px !important;
  font-weight: 400 !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Home card styles */
.nl-home-card {
  position: relative;
  width: 100%;
  max-width: 225px;
  max-height: 225px;
  margin: auto;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  text-align: center;
  background-position: center;
  background-size: 100% !important;
  border: lightgray solid 1px;
  border-radius: 15%;
  box-shadow: inset 0 0 6px rgba(20, 20, 20, 0.25) !important;
  transition: all 0.3s ease !important;
}

.nl-card:hover .nl-home-card {
  border-radius: 10% !important;
  background-size: 110% !important;
}

.nl-home-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  padding: 0.5em;
  margin: auto;
  color: rgb(36, 41, 46);
  background: rgba(255, 255, 255, 0.5);
  border-bottom: lightgrey solid 1px;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 6px rgba(20, 20, 20, 0.25);
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* Modal styles */
.nl-modal {
  display: none;
  position: fixed;
  z-index: 1050;
  inset: 0px;
  background-color: rgba(208, 209, 211, 0.24);
  backdrop-filter: blur(1px);
}

.nl-modal-content {
  position: relative;
  width: min(500px, 80%);
  margin: 20vh auto;
  padding: 24px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 8px;
}

/* Toggle styles */
#description-container {
  display: block;
}

#table-summary-container {
  display: none;
}

#toggle-description:checked ~ .description-container {
  display: none;
}

#toggle-description:checked ~ .table-summary-container {
  display: block;
}

/* Mapbox styles */
.mapboxgl-map {
  border-radius: 4px !important;
}

/* Button styles */
.buttons .btn {
  font-size: 12px;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .nl-row {
    grid-template-columns: 1fr;
  }

  .nl-column {
    width: 100%;
    margin-top: inherit !important;
  }

  .nl-header {
    flex-direction: column;
    gap: 0.5em;
  }
}

.dark {
  .nl-header {
    background: rgb(34, 37, 43); /* Dark background */
    border: 1px solid rgba(204, 204, 220, 0.07); /* Dark border */
  }
}
