.nl-row {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 10px auto;
  width: min(100%, 991px);
}

.nl-full-row {
  margin: 10px auto;
  width: min(100%, 991px);
}

.nl-column {
  flex: 1;
  margin-top: 0px !important;
}

.nl-download * {
  margin: 0 !important;
}

.nl-card {
  color: rgb(36, 41, 46) !important;
}

/* Header styles */
.nl-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 10px;
  padding: 5px 10px;
  width: min(100%, 768px);
  text-align: center;

  /* If light-dark isn't supported (Safari < 14.5) */
  background: rgb(220, 220, 220);
  border-color: lightgray;
  color: rgb(36, 41, 46);

  /* If it is supported */
  border-color: light-dark(lightgray, rgba(204, 204, 220, 0.07));
  background: light-dark(rgb(220, 220, 220), rgb(34, 37, 43));
  color: light-dark(rgb(36, 41, 46), rgb(204, 204, 220));
}

.nl-tooltip {
  position: absolute;
  bottom: 0;
  visibility: hidden;
  background-color: rgba(40, 40, 40, 0.9);
  padding: 0.5em;
  width: 100%;
  color: white;
  font-size: 12px;
  text-align: center;
}

.nl-card:hover .nl-tooltip {
  visibility: visible;
}

.nl-header h1,
.nl-header h2 {
  margin: 5px 10px !important;
  overflow: hidden;
  font-weight: 400 !important;
  text-overflow: ellipsis;
}

/* Home card styles */
.nl-home-card {
  position: relative;
  transition: all 0.3s ease !important;
  margin: auto;
  box-shadow: inset 0 0 6px rgba(20, 20, 20, 0.25) !important;
  border: lightgray solid 1px;
  border-radius: 15%;
  background-position: center;
  background-size: 100% !important;
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 225px;
  max-height: 225px;
  overflow: hidden;
  text-align: center;
}

.nl-card:hover .nl-home-card {
  border-radius: 10% !important;
  background-size: 110% !important;
}

.nl-home-title {
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  margin: auto;
  box-shadow: 0 0 6px rgba(20, 20, 20, 0.25);
  border-bottom: lightgrey solid 1px;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.5em;
  height: 64px;
  color: rgb(36, 41, 46);
  overflow-wrap: break-word;
}

/* Modal styles */
.nl-modal {
  display: none;
  position: fixed;
  z-index: 1050;
  backdrop-filter: blur(1px);
  inset: 0px;
  background-color: rgba(208, 209, 211, 0.24);
}

.nl-modal-content {
  position: relative;
  margin: 20vh auto;
  border: 1px solid lightgrey;
  border-radius: 8px;
  background-color: white;
  padding: 24px;
  width: min(500px, 80%);
}

/* Toggle styles */
#description-container {
  display: block;
}

#table-summary-container {
  display: none;
}

#toggle-description:checked ~ .description-container {
  display: none;
}

#toggle-description:checked ~ .table-summary-container {
  display: block;
}

/* Mapbox styles */
.js-plotly-plot .plotly .main-svg {
  border-radius: 4px !important;
}

/* Button styles */
.buttons .btn {
  font-size: 12px;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .nl-row {
    flex-direction: column;
    gap: 20px;
  }

  .nl-column {
    margin-top: inherit !important;
    width: 100%;
  }

  .nl-header {
    flex-direction: column;
    gap: 0.5em;
  }
}

[data-testid*="Nav toolbar"] {
  padding: 0px 8px 0px 8px !important;
}

/* Remove border on hover for panel containers */
[class*="-panel-container-panel-transparent-container"]:hover {
  border: 1px solid transparent !important;
}
